{% extends 'base.html' %}
{% load static %}


{% block title %}Biseq About{% endblock %}

{% block content %}
    <!-- Aapka index page ka content yahan aayega -->
     <section class="about-container">

    <article class="diary-entry">

        <h3>Dear User,</h3><br>

        <p>
            I honestly did not start this project with a grand plan.
            The idea came while I was exploring genomic data myself on
            the NCBI website. Downloading a <code>.fasta</code> or
            <code>.genbank</code> file, putting it into Python manually,
            and then running it through Biopython works, but it can be
            inconvenient- especially when you do not have a computer around.
            Using a phone brings its own set of problems. So I thought:
            why not make this process a little easier?
        </p><br>

        <p>
            Initially, I was familiar with Flask, but I soon realized
            that with Flask, I would have to build and manage many things
            myself. Around the same time, I discovered Django. It is based
            on the MVT architecture and comes with many useful tools already
            prepared, which made it a much better choice for this project.
        </p><br>

        <p>
            Django handles the backend, while HTML and CSS take care of
            the frontend. Cloud MySQL is currently being used for complaint
            registration.
        </p><br>

        <p>
            And honestly, learning Django while building this has been
            frustrating at times. I didn't know Django beforehand, so
            almost every step involved learning something new and then
            trying to implement it myself.
        </p><br>

        <p>
            Right now, the project is somewhere around its middle stage.
            As I learn more about Biopython, I plan to keep adding features
            one by one.
        </p><br>

        <p>
            My hope is simple: that this becomes useful for students,
            researchers, and anyone interested in exploring biological data.
        </p><br>

        <p>
            Thank you for using it. If you would like to support the project
            intellectually, you're always welcome on the GitHub page linked
            in the footer. Contributions are genuinely welcome.
        </p><br>

        <p>
            I will keep improving it.
        </p><br>

        <p class="diary-signoff">
            Bye bye! Love you all! 🌹 <br><br>
            Yours Truly,<br>
            Govind ❤️
        </p><br>



    </article>

</section>

    

{% endblock %}