{% extends 'base.html' %}
{% load static %}

{% block title %}Biseq Analyzer{% endblock %}

{% block content %}

<div class="file_upload">

    <section class="heading">
        <h1>Upload Your File</h1>
    </section>

    <section class="main-sectionioning">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="upload-box">

                <div class="upload-icon">
                    ↑
                </div>

                <label for="id_file" class="browse-button">
                    Browse
                </label>

                {{ form.file }}

                <p>drop a file here</p>
                <p id="file-name">No file selected</p>

                <small>
                    <span>*</span>File supported .fasta & .genbank
                </small>

            </div>

            <button type="submit" class="submit-button">
                Submit
            </button>

        </form>

        <script>
            const fileInput = document.getElementById("id_file");
            const fileName = document.getElementById("file-name");

            fileInput.addEventListener("change", function () {
            if (this.files.length > 0) {
                fileName.textContent = this.files[0].name;
                } else {
                fileName.textContent = "No file selected";
            }
    });
</script>

<style>
    #file-name{
        font-weight: bold;
        color: black;
    }
</style>

    </section>

</div>

{% endblock %}