{% extends 'base.html' %}
{% load static %}


{% block title %}Biseq Analyzer{% endblock %}

{% block content %}
    <!-- Aapka index page ka content yahan aayega -->
     <br>

    <div class="communicate">
        
        <form method="POST">
            <h2 style="
            display: flex; justify-content: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 1px solid lightblue; background-color: rgb(192, 233, 192);

            ">
                Issue Form
            </h2>
            <br>
            {% csrf_token %}
            <div>
                <label>
                    Name : 
                </label>
                {{ form.name }}
            </div>

            <div>
                <label>
                    Category of Issue :
                </label>
                {{form.issue_type}}
            </div>

            <div>
                <label>
                    Issue Detail :
                </label><br>
                {{ form.issue_detail }}
            </div>

            <button type="submit" style="margin-top: 10px; padding: 5px 15px;">
                Submit
            </button>

       </form>
        
    </div>

    

{% endblock %}