{% extends 'base.html' %}
{% load static %}


{% block title %}Biseq Analyzer{% endblock %}

{% block content %}
    <!-- Aapka index page ka content yahan aayega -->

    <div class="providers-container">

    <h2>Technologies & Providers</h2><br><br>

    <div class="providers-grid">

        <div class="provider-card">
            <h3>Aiven</h3>
            <p>Cloud infrastructure and managed database services.</p><br>
            <p>Try now: <a href="https://aiven.io/">Official Link</a></p>
        </div>

        <div class="provider-card">
            <h3>Django</h3>
            <p>Python web framework powering the application.</p><br>
            <p>Try now: <a href="https://www.djangoproject.com/">Official Link</a></p>
        </div>

        <div class="provider-card">
            <h3>Cloud MySQL</h3>
            <p>Relational database used for storing application data hosted on Aiven free mysql.</p><br>
        </div>

        <div class="provider-card">
            <h3>Python</h3>
            <p>Core programming language used throughout the project.</p><br>
            <p>Try now: <a href="https://www.python.org/">Official Link</a></p>
        </div>

        <div class="provider-card">
            <h3>Biopython</h3>
            <p>Bioinformatics toolkit used for biological sequence analysis.</p><br>
            <p>Try now: <a href="https://biopython.org/">Official Link</a></p>
        </div>

    </div>
    <br>
    <br>
    <br>
    <h4>Thank you for providing such amazing tools which helped me complete my project!</h4>
</div>

{% endblock %}