{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {%block title %}
            BioSequence
            {%endblock%}
        </title>
            <link rel="icon" type="image/jpg" href="{% static 'images/dna.jpg' %}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Prociono&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {%include 'components/navbar.html'%}


        <main>
                    {% block content %}
                    {% endblock %}
        </main>
    </body>
    <footer>
        {%block footer %}
        <p>
            <p>&copy; 2026 Govind</p>
        </p><br>
        <p>We value your privacy. Just kidding, We have already sold it to stray dog Pandey & Manjeet.</p><br>
        <div class="footer-reachout">
            <p>
                Reach me: <a href="https://github.com/govindrkumar">Github</a> | <a href="https://www.instagram.com/newtongovind/">Instagram</a> | <a href="mailto:govindkumar123gksingh@gmail.com">G-Mail</a>
            </p>
        </div>


        {% endblock %}
    </footer>




</html>