    {% load static %}
    <nav>
        <div class="logo">
            <img src="{%static 'images/logo.png' %}" alt="Bio-sequence">
        </div>
        <div class="nav-links">
            <a href="{%url 'index'%}">
                Home
            </a>
            <a href="{%url 'about_page'%}">
                About
            </a>

            <a href="{%url 'analyse_page'%}">
                Analyze
            </a>

            <a href="{%url 'provider_page'%}">
                Providers
            </a>

            <a href="{%url 'issues_page'%}">
                Issues
            </a>
    
        </div>
    </nav>  